.zoom-in-top-enter{
    opacity: 0;
    transform: scaleY(0);
}

.zoom-in-top-enter-action{
    opacity: 1;
    transform: scaleY(1);
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    transform-origin: center top;
}

.zoom-in-top-exit{
    opacity: 1;
}

.zoom-in-top-exit-action{
    opacity: 0;
    transform: scaleY(0);
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    transform-origin: center top;
}